# Auto detect text files and perform LF normalization
*.js linguist-detectable=false
*.java linguist-detectable=true
*.python linguist-detectable=true
*.matlab linguist-detectable = true
*.scheme linguist-detectable = true
